body{
    margin: 0px;
    padding: 0px;
}

.navbar .nav-link:hover {
    color: #0d6efd;
    background-color: #e7f1ff;
    border-radius: 5px;
    border-bottom: 2px solid #0d6efd;
}

.navbar .nav-link.active {
    color: #0a3d91;
    font-weight: 600;
}

.hero-section {
    background: linear-gradient(135deg, #ffffff, #e7f1ff);
}

.hero-image {
    width: 200px;
    height: auto;
}

/* refer: chevron: https://icons.getbootstrap.com/icons/chevron-down/ */
/* refer: aria-expanded: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Attributes/aria-expanded */
/* fefer: rotate: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/rotate */
button[aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
}

.bi-chevron-down {
    display: inline-block;
    transition: transform 0.2s ease;
}